/* mobile and tablet */
@media (max-width: 1023px) {
  #body {
    padding: 0;
  }

  .nav {
    padding: 0;
  }

  .nav__container {
    flex-wrap: wrap;
    margin: 0 24px;
  }

  .navigation__list {
    border-radius: 10px;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 164px;
    margin: 0;
    margin-left: 24px;
    background-color: var(--header-bg-color);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
  }

  .navigation{
    padding: 0;
  }

  .navigation__item {
    padding: 12px 24px;
    border-bottom: solid 1px var(--border-color);
  }

  .nav__logo {
    order: 1;
  }

  .nav__group {
    order: 2;
  }

  .search {
    order: 3;
    flex-basis: 100%;
  }

  .search__menu {
    display: block;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
  }

  .search__menu:focus .navigation__list {
    display: flex;
  }

  .commit__item {
    flex-direction: column-reverse;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
  }

  .commit__content {
    padding-right: 0;
  }

  

  .display--none {
    display: none;
  }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  #body {
    margin: 0 24px;
  }
  
  .nav__group {
      margin-top: 28px;
  }

  .nav__logo {
    width: 131px;
    height: 14px;
    margin-top: 45px;
    margin-left: 1px;
  }

  .search {
    padding-bottom: 24px;
    padding-top: 16px;
  }

  .topic{
    margin-bottom: 39px;
  }
  
  .topic__img{
    height: 180px;
  }

  .commit__content {
    margin: 0;
  }

  .commit__item {
  }

  .commit__title {
    overflow: unset;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 12px;
    width: 172px;
    height: 40px;

  }

  .category__headine {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #3E3E3E;
  }

  .category__container .commit__content {
    text-align: center;
    padding: 0;
  }

  .category__container {
    overflow: scroll;
    overflow-y: hidden;
  }

  .category-2__item {
    width: 261px;
  }

  .footer__nation {
    width: 132px;
  }

  .submit__form {
    width: 633px;
  }

  .submit__container {
    padding-bottom: 40px;
  }

  #footer {
    margin: 0 24px;
  }

  .footer__social {
    width: 100px;
    padding-top: 16px;
  }

  .footer__info {
    padding-top: 56px;
  }

  .tablet-footer {
    justify-content: space-between;
  }

  .footer__info-privacy {
    margin-left: 18px;
  }

  .footer__info-scroll {
    margin-left: 150px;
  }

  .show-on-table {
    display: block;
  }

  .hide-on-table {
    display: none;
  }

  .flex-1{
    flex: 1;
  }
}

/* mobile */
@media (max-width: 739.5px) {
  #body {}

  .hide-one-mobile {
    display: none;
  }

  .nav__account-link{
    margin-right: 23px;
  }

  .show-on-mobile {
    display: block;
  }

  .nav__container {
    margin: 0 16px;
  }

  .search__form{
    margin-left: 22px;
  }

  .topic{
    margin-bottom: 0;
  }

  .topic__img{
    margin-bottom: 24px;
  }

  .pagination{
    margin-top: 24px;
  }

  .search__input{
  }

  .nav__account-icon{
    margin-right: 0;
  }

  .nav__group{
    margin-top: 36px;
  }

  .nav__account {
    margin-right: 0;
  }

  .product__img {
    padding: 0;
  }

  .product__container {
    padding: 40px 40px 80px 40px;
  }

  .no_wrap {
    flex-wrap: nowrap;
  }

  .commit__item {
    scroll-snap-align: start;
  }

  .product__card {
    scroll-snap-align: start;
  }

  .commit__img {
    margin-bottom: 24px;
  }

  .section__6-photo {}

  .height-product {
    width: 195px;
  }

  .product-card-2__img-child{
  }

  .nav-search-container {
    padding-left: 16px;
  }

  .search {
    padding-bottom: 24px;
    flex-basis: 100%;
  }

  .submit__button {
    position: absolute;
    bottom: -50px;
    width: 100%;
    left: 0;
    justify-content: center;
  }

  .submit__content {
    padding: 32px 16px 16px 16px;
    margin-left: 0;
  }

  .w-191{
    width: 191px;
  }

  .submit__form {
    width: auto;
    margin: 0 16px;
  }

  .submit__container {
    margin: 0 16px;
    padding-bottom: 80px;
  }

  .unset-flex {
    flex: unset;
    max-width: unset;
  }

  .section__6-photo {
    width: 195px;
    height: 331px;
  }

  

  .animation-zoom {
    transition: unset;
  }

  .submit__text {
    margin-top: 0;
    margin-bottom: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .section {
    padding-top: 32px;
  }

  .section__5-container {
    margin-top: 24px;
  }

  .mobile_footer {
    margin-top: 27px;
  }

  .category{
  }

  .category__body{
    padding-top: 24px;
  }

  .p-mobile-16 {
    padding-right: 16px;
    padding-left: 16px;
  }

  .product__container {}

  .nav__logo {
    margin-right: 0;
    margin-top: 39px;
  }

  .footer__item-title:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  .footer__item-item:hover {
    opacity: 0.5;
  }

  .pt-24 {
    padding-top: 24px;
  }

  .section__5-heading {
    width: 200px;
  }

  .category__headine {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    width: 260px;
  }

  .commit{
    padding-top: 24px;
  }

  .category__heading {
  }

  .category-2{
  }

  .seperate {
    padding: 16px 72px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    text-align: center;

    /* Main / Thick Black */

    color: var(--main-third-black);
  }

  .footer__item-title {
    background: #f5f6f8;
    border-radius: 200px;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__item {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
  }

  .footer__item-list {
    display: none;
    margin-left: 24px;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
  }

  .footer__item-item {
    padding-bottom: 12px;
    border-bottom: solid 1px #e9e9e9;
  }

  .footer__social {
    background: #f5f6f8;
    border-radius: 200px;
    padding-left: 12px;
    text-align: center;
  }

  .footer__social {
    padding: 12px 67px;
  }

  .footer__social-logo {
    height: 24px;
    width: 24px;
    margin: 0;
  }

  .footer__item-title.footer__item--active .footer__icon-down {
    /* color: var(--main-white-color); */
  }

  .footer__info {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    /* Color Text / Text */

    color: #3e3e3e;
  }

  .category-2__list {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    flex-wrap: nowrap;
  }

  .category-2__list::-webkit-scrollbar {
    display: none;
  }

  .category-2__item {
    width: 81px;
    margin-right: 24px;
  }

  .category-2__container {
    margin-top: 24px;
  }

  .category-2__item-text {
    padding-bottom: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }

  .footer__info {
    justify-content: center;
  }

  .mobile-order-1 {
    order: 1;
  }

  .mobile-order-2 {
    order: 2;
  }

  .mobile-order-3 {
    order: 3;
  }

  .mobile-order-4 {
    order: 4;
  }

  .mobile-order-5 {
    order: 5;
  }

  .footer__item--active {
    background: #eb8426;
    color: #ffffff;
  }

  .footer__icon-down {
    display: inline-block;
  }

  .footer__item-title .footer__icon-down-at {
    display: none;
  }

  .footer__item-title.footer__item--active .footer__icon-down-at {
    display: block;
  }

  .footer__item-title.footer__item--active .footer__icon-down-d {
    display: none;
  }

  .search__menu {
    margin-right: 16px;
  }

  .commit__content {
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer__item-title {
    font-size: 14px;
    line-height: 18px;
  }

  .commit__title {
    margin-bottom: 16px;
  }

  .footer__icon-down {
    height: 12px;
    width: 12px;
  }
  
  .category__body-img-child {
    height: 120px;
    width: 120px;
  }

  .category-2__img{
    width: 195px;
  }

  .category__body-item {
    padding: 0 8px;
  }

  .product-card-2__img {
  }
}

.mr-16 {
  margin-right: 16px;
}

.footer__item-list--active {
  display: block;
}

@media (max-width: 1515px) {
  .button__navigation {
    display: none;
  }
}


@media (min-width: 1023px) and (max-width: 1344px) {
  .nav {
    padding: 0 24px;
  }

  .grid {
    padding-right:  24px;
    padding-left:  24px;
  }

  #footer {
    padding: 0 24px;
  }
}
.display--flex {
  display: flex;
}