

/* mobile and tablet */
@media (max-width:1023px) {
    .nav__logo{
        order: 1;
    }
    .nav__search{
        order: 3;
    }
    .nav__group{
        order: 2;
    }
    .nav__menu{
        display: block;
    }
    .section__3-item{
        flex-direction: column-reverse;
        text-align: center;
    }
    .section__3-content{
        padding-right: 0;
    }

    .nav__container{
        flex-wrap: wrap;
        margin: 0 24px;
    }

}

/* tablet */
@media (min-width:740px) and (max-width:1023px) {

    .grid{
        margin: 0 24px;
    }

    html{
    }

    #header{
    }

    #body{
        margin: 0 24px;
    }
    
    .hide-on-table{
        display: none;
    }
    .search-jump-down{
        
    }

    .section__3-content{
        margin: 0;
    }
    
    .section__3-item{
        justify-content: flex-end;
    }

    .nav__search{
        padding-bottom: 24px;
    }

    

    

    .section__3-tittle{
        padding-top: 24px;
        margin-bottom: 12px;
    }
    .section__4-container
    .section__3-content{
        text-align: center;
        padding: 0;
    }

    

    .section__4-container{
        overflow: scroll;
        overflow-y: hidden;
    }

    .section__7-form {
        width: 633px;
    }

    

    .pagination{
        display: block;
    }

    .produce__card{
    }

    #footer{
        margin: 0 24px;

    }
    .footer__social{
        width: 100px;
    }
}

/* mobile */
@media (max-width:739px){
   .hide-one-mobile{
    display: none;
   }

   .show-on-mobile{
    display: block;
   }
   .nav__container{
        margin: 0 16px;
   }

   .produce__img{
    padding: 0;
   }

   .produce__card{
    padding: 40px 40px 0 40px ;
   }

   .no_wrap{
    flex-wrap: nowrap;
   }

   .section__3-item{
    scroll-snap-align: start;
   }

   .produce {
    scroll-snap-align: start;
   }

   .section__3-img{
    margin-bottom: 24px;
   }
   .section__6-photo{
   
}

    .height-produce{
        width: 195px;
height: 331px;
margin-right: 16px;
    }
    .nav-search-container{
        padding-left: 16px;
    }
    .nav__search{
        padding-bottom: 24px;
    }
    .section__7-button{
        position: absolute;
        bottom: -50px;
    width: 100%;
    left: 0;
    justify-content: center;
    }
    .section__7-content{
        padding: 32px 16px 16px 16px;
    }
    .section__7-form{
        width: auto;
        margin: 0 16px;
    }
    .section__7-container{
        margin: 0 16px;
        padding-bottom: 80px;
    }
    .section__7-text{
        margin-top: 0;
        margin-bottom: 8px;
    }
    .section__long{
        padding-top: 24px;
    }
    .mobile_footer{
        margin-top: 27px;
    flex-direction: column-reverse;

    }
    .produce__card{
        padding: 70px;
    }

    .nav__logo{
        margin-right: 0;
    }

    .pt-24{
        padding-top: 24px;
    }
    .section__5-heading{
        width: 200px;
    }
    .section__4-tittle{
        width: 260px;
    }
    .section__8{
        padding: 16px 72px;
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* or 133% */

text-align: center;

/* Main / Thick Black */

color: #040404;
    }
    .footer__item-tittle{
        background: #F5F6F8;
border-radius: 200px;
padding: 12px 24px;
    }
    .footer__item{
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
    }
    .footer__item-list{
        margin-left: 24px;
    }
    .footer__item-item{
        padding-bottom: 12px;
    border-bottom: solid 1px #E9E9E9;
    }
    .footer__social{
        background: #F5F6F8;
border-radius: 200px;
        padding-left: 12px;
    }
    .footer__social{
        padding: 12px 67px;
    }
    .footer__logo{
        height: 24px;
        width: 24px;
        margin: 0;
    }
    .footer__info{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */


/* Color Text / Text */

color: #3E3E3E;

    }
    .footer__info{
        justify-content: center;
    }
    .mobile-order-1{
        flex-direction: column;

        display: flex;
        order: 1;
    }
    .mobile-order-2{
        flex-direction: column;

        display: flex;
        order: 2;
    }
    .mobile-order-3{
        flex-direction: column;

        display: flex;
        order: 3;
    }
    .mobile-order-4{
        flex-direction: column;

        display: flex;
        order: 4;
    }
    
}
.mr-16{
    margin-right: 16px;
}