/* begin header */
#header {
    background: var(--header-bg-color);
}

/* nav */
.nav__container {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.nav__logo {
    margin-right: 90px;
    margin-top: 41px;
}

.img__logo {
    height: 14.16px;
    width: 131.76px;
}

/* search */
.search {
    flex: 1;
    display: flex;
    padding-top: 24px;
    align-items: center;
}

.search__menu {
    background: var(--main-white-color);
    border-radius: 100px;
    margin-right: 24px;
    display: none;
}

.search__menu-icon {
    padding: 12px 31px;
    display: block;
}

.search__container {
    display: flex;
    background-color: var(--main-white-color);
    align-items: center;
    border-radius: 50px;
    flex: 1;
}

.search__category {
    position: relative;
    cursor: pointer;
}

.search__category:hover .search__category-list {
    display: block;
}

.search__category-content {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    padding: 8px 24px;
    background-color: var(--gray-color);
    margin: 8px 16px 8px 8px;
    border-radius: 50px;
    position: relative;
}

.search__category-content::after {
    content: "";
    position: absolute;
    height: 11px;
    width: 144px;
    bottom: -10px;
    left: 0;
}

.search__category-icon {
    margin-left: 12px;
}

.search__category-list {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
    display: none;
    position: absolute;
    border-radius: 5px;
    width: 135.48px;
    background-color: var(--gray-color);
    top: 50px;
    left: 13px;
    z-index: 1;
}

.search__category-item {
    border-bottom: 1px solid var(--border-color);
    padding: 8px 24px;
}

.search__category-item-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-color);
}

.search__category-item:hover {
    opacity: 0.5;
}

.search__form {
    flex: 1;
    height: 100%;
}

.flex-1{
    flex: 1;
}

.search__input {
    width: 100%;
    padding: 16px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    border: none;
    outline: none;
    color: var(--sub-text-color);
    flex: 1;
}

.search__form-icon {
    margin-right: 12px;
}

/* nav group */
.nav__group {
    margin-top: 24px;
    margin-left: 24px;
}

.nav__group-list {
    display: flex;
    align-items: center;
}

.nav__group-item {}

.nav__group-item:hover {
    cursor: pointer;
    opacity: 0.5;
}

.nav__help-link {
    background: var(--main-primary-color);
    border-radius: 50px;
    display: block;
    padding: 16px 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--main-white-color);
}

.nav__account-link {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
    margin-right: 27px;
    margin-left: 24px;
}

.nav__account-icon {
    margin-right: 12px;
}

.nav__account-content {}

.nav__shoping-link {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
    align-items: center;
    position: relative;
}

.nav__shoping-link::before{
    content: '16';
    height: 24px;
    width: 24px;
    position: absolute;
    top: -10px;
    left: 12px;
    background-color: var(--main-primary-color);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--main-white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__shoping-icon {
    margin-right: 11px;
}

/* navigation */
.navigation {
    padding: 28px 0;
}

.navigation__list {
    display: flex;
}

.navigation__item {
    margin-right: 48px;
}

.navigation__item-link {
    font-weight: 400;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
}

.navigation__item-link:hover{
    opacity: 0.5;
}

.navigation__item--active{
    color: var(--main-third);
}

.navigation__item--active::after{
    content: '';
    height: 4px;
    width: 42px;
    background-color: var(--main-third);
    left: 0;
    bottom: -12px;
    border-radius: 50px;
    position: absolute;
}

/* body */
#body {}

/* topic*/
.topic {
    margin: 24px 0;
    position: relative;
}

.topic__item {
    position: relative;
}

.topic__img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
}

.topic__content {
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-white-color);
    bottom: 16px;
    left: 16px;
}

/*  */
.layout {
    height: 450px;
    width: 100%;
    background-color: var(--gray-color);
    position: absolute;
    top: -24px;
    z-index: -1;
}

/*  */
.section{
    padding-top: 48px;
}

/* commit */
.commit_{
    margin-top: 48px;
}

.commit__item {
    background: var(--gray-color);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0 24px 24px 24px;
    height: 100%;
}

.commit__content {
    margin-top: 45px;
    max-width: 173px;
}

.commit__title {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-middle-black);
}

.commit__description {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--paragraph-color);
}

.commit__img {
    width: 100%;
    max-width: 126px;
    height: 126px;
    border-radius: 50%;
    margin-top: 24px;
}

/* category */
.category{
    max-width: 1344px;
}

.category__heading {
    margin: 0 12px;
}

.category__heading--flex{
    display: flex;
    justify-content: space-between;
}

.category__headine {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
}

.category__headine br{
    display: none;
}

.category__sub-headine {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--sub-text-color);
    margin: 0;
    margin-top: 8px;
}

.category__button-left {
    left: -96px;
}

.category__button-right {
    right: -96px;
}

.category__container {
    position: relative;
}

.category__body {
    padding-top: 48px;

}

.category__body-list {
    display: flex;
    transition: all ease 0.5s;
}

.category__body-item {
    padding: 1px 12px;
    scroll-snap-align: start;
}

.category__body-img {
    display: block;
    background: var(--main-white-color);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    padding: 8px;
    border-radius: 5px;
    height: 144px;
}

.category__body-img-child {
    width: 128px;
    height: 128px;
    border-radius: 5px;
}

.category__body-item-name {
    text-align: center;
    margin: 0;
    margin-top: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.view-all-icon{
    margin-left: 12px;
}

.view-all{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--main-third);
    display: flex;
    align-items: center;
}
/*  */
.category-2__list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -24px;
}

.category-2__item {
    border-bottom: 1px solid var(--border-color);
    width: 200px;
    position: relative;
}

.category-2__item--active {
    border-bottom: 1px solid var(--main-third);
    color: var(--main-third);
    height: 87px;
}
a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.category-2__item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 32px;
    max-width: 97px;
    margin: 0 auto;
    text-align: center;
    margin-top: 24px;
}

.category-2__container {
    margin-top: 48px;
    overflow: hidden;
}

.category-2__product-list {
    display: none;
}

.category-2__product-list--active {
    display: flex;
}

.category-2__img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.product__item-photo{
    height: 100%;
}
/*  */
.submit{

}

.submit__container {
    background: var(--footer-bg-color);
    border-radius: 5px;
}

.submit__content {
    padding: 40px 0 40px 0;
    max-width: 551px;
    margin-left: 112px;
}

.submit__text {
    margin: 0;
    margin-bottom: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    color: var(--main-white-color);
}

.submit__form {
    position: relative;
    width: 648px;
    height: 48px;
    margin: 0 16px;
    background: var(--main-white-color);
    border-radius: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit__input {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    width: 95%;
    color: var(--sub-text-color);
    padding-left: 12px;
    outline: none;
    border: none;
    height: 88%;
}

.submit__button {
    padding: 8px 0 8px 24px;
    background: var(--main-third);
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    display: flex;
    text-align: center;
    color: var(--main-white-color);
    margin-right: 8px;
}

.submit__button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.submit__decription {
    padding: 20px 0 48px 0;
    text-align: center;
}

.submit__decription a {
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--main-light);
}

.submit__decription a:hover {
    opacity: 0.5;
}

/*  */
.seperate {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 0;
    color: var(--main-third-black);
    background: var(--gray-color);
    text-align: center;
}

/*  */
.footer__nation {
    padding-top: 41px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.footer__logo{
    margin-top: 58px;
}

.footer__nation p {
    margin: 0;
}

.footer__social {
    padding-top: 24px;
}

.footer__social-logo {
    width: 32px;
    height: 32px;
    margin-right: 16px;
    display: inline-block;
}

.footer__social-logo:hover {
    opacity: 0.5;
}

.footer__item-list {
    padding: 0;
    margin: 0;
}

.footer__item-list a {
}

.footer__item-item{
    padding-top: 12px;
}

.footer__item-item a{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
}

.footer__item-item:hover {
    opacity: 0.5;
}

.footer__item-title {
    padding-top: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--paragraph-color);
    padding-bottom: 12px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.footer__info-privacy a{
    color: var(--text-color);
}

.footer__info-privacy:hover {
    opacity: 0.5;
    cursor: pointer;
}

.footer__info-terms{
    margin: 0 48px;
}

.footer__info-terms a{
    color: var(--main-third);
}

.footer__info-terms:hover {
    opacity: 0.5;
    cursor: pointer;
}

.footer__info-cookies a{
    color: var(--text-color);
}

.footer__info-cookies:hover {
    opacity: 0.5;
    cursor: pointer;
}

.footer__info-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
}

.footer__info-item a {
}

.footer__info-scroll {
    border: none;
    background-color: var(--main-white-color);
    -webkit-user-select: none;
    user-select: none;
}

.footer__info-scroll:hover {
    cursor: pointer;
    opacity: 0.5;
}

.footer__info-iconu {
    margin-left: 16px;
}

.footer__icon-down {
    height: 12px;
    width: 24px;
    display: none;
    color: var(--main-medium-color);
}

/*  */
.overflow-none {
    overflow: unset;
}

.no-mg {
    margin-left: -8px;
    margin-right: -8px;
}

.scroll-p-8 {
    scroll-padding-left: 8px;
}

.mr-27 {
    margin-right: 27px;
}

/*  */
.no-wrap {
    flex-wrap: nowrap;
}

.p-8 {
    padding: 8px;
}

.full-width {
    max-width: 100%;
}

.icon__arrowd {
    width: 13px;
    color: var(--main-medium-color);
}

.item__hover:hover {
    opacity: 0.5;
    cursor: pointer;
}

.icon__search {
    width: 24px;
    height: 24px;
}

.icon__account {
    width: 24px;
    height: 24px;
}

.icon__shoping {
    width: 24px;
    height: 24px;
    position: relative;
}

.pb-6{
    padding-bottom: 6px;
    margin-bottom: -6px;
}
.icon__arrow-right {
    width: 16px;
    height: 16px;
}
.pl-0 {
    padding-left: 2px;
}

.grid-category{
    max-width: 1344px;
}
.icon__vector-right {
    width: 16px;
    height: 16px;
    color: var(--main-white-color);
    margin-left: 11.2px;
    margin-right: 27px;
    width: 16px;
    height: 16px;
    color: var(--main-white-color);
}