@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
  --gap: 30px;
}
/* layout */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Poppins', sans-serif;
}
.container {
  max-width: 1200px;
  padding: 0 var(--gap);
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: no-wrap;
  margin: 0 calc(-1 * var(--gap));
}
.col {
  padding: var(--gap);
  width: calc(100%/12*4);
}

img {
  max-width: 100%;
}

.d-flex {
  display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-1{
    flex: 1;
}
.justify-between{
    justify-content:space-between;
}
.d-block {
  display: block;
}
.margin-0 {
  margin: 0;
}
.padding-0 {
  padding: 0;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.list-unstyled {
  list-style: none;
}

.card {
  border-radius: 4px;
  border: 1px solid orange;
  padding: 24px;
  height: 100%;
}
.card-media{
    margin-bottom: 24px;
}
.product-variant {
  bottom: 0;
  left: 0;
}
.variants {
    gap: 8px;
}
.variant-item {
  font-size: 0;
  width: 16px;
  height: 16px;
  background: red;
  border-radius: 50px;
}
.product-name {
  margin: 0 0 8px;
  font-size: 1.4rem;
}











